*.lnk
*.wav
/OpheliaAssets/Unused
OpheliaAssets/testingScripts/token.json
OpheliaAssets/googleAPI.json
OpheliaAssets/assets/rock
/OpheliaAssets/__pycache__
/OpheliaAssets/__pycache__
/OpheliaAssets/__pycache__
OpheliaAssets/testingScripts/testGoogleMail(T).py
/OpheliaAssets/__pycache__
OpheliaAssets/__pycache__/opheliaWake.cpython-310.pyc
OpheliaAssets/__pycache__/opheliaNeurals.cpython-310.pyc
OpheliaAssets/__pycache__/opheliaMainFunctions.cpython-310.pyc
OpheliaAssets/__pycache__/opheliaBridge.cpython-310.pyc
OpheliaAssets/__pycache__/opheliaAuxilliary.cpython-310.pyc
OpheliaAssets/__pycache__/opheliaWake.cpython-310.pyc
OpheliaAssets/__pycache__/opheliaNeurals.cpython-310.pyc
OpheliaAssets/__pycache__/opheliaMainFunctions.cpython-310.pyc
OpheliaAssets/__pycache__/opheliaBridge.cpython-310.pyc
OpheliaAssets/__pycache__/opheliaAuxilliary.cpython-310.pyc
OpheliaAssets/__pycache__/opheliaWake.cpython-310.pyc
