#vbcable not a python library
pyttsx3
pyaudio
torch
torchaudio
TTS
gradio
SpeechRecognition
psutil
pystray
pillow
wmi
requests
wikipedia-api
wikipedia
sumy
sounddevice
#librosa not
scipy
#vosk no need
pystray
pillow
word2number

google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib

discord
python-dotenv

python-freeDictionaryAPI

pandas

pycaw
discord.py[voice]

mss